.container
  .breadcrumbs
    a(href="#") Главная
    a(href="#") Поддержка
    span Инструкции

main.instructions
  .container
    h2.page-title Инструкции

    ul.instructions-list
      li.instructions-list__item
        a(href="#").instructions-list__link Как активировать устройство
      li.instructions-list__item
        a(href="#").instructions-list__link SADP не видит устройство
      li.instructions-list__item
        a(href="#").instructions-list__link Сброс пароля
      li.instructions-list__item
        a(href="#").instructions-list__link Проблемы при сбросе пароля через SADP
      li.instructions-list__item
        a(href="#").instructions-list__link Прошивка регистратора
      li.instructions-list__item
        a(href="#").instructions-list__link Перепрошивка TFTP
      li.instructions-list__item
        a(href="#").instructions-list__link IVMS-4200 добавление устройств
      li.instructions-list__item
        a(href="#").instructions-list__link IVMS-4200 настройка Storage Server
      li.instructions-list__item
        a(href="#").instructions-list__link IVMS-4200 настройка Stream Server
      li.instructions-list__item
        a(href="#").instructions-list__link IVMS-4200 проблема с отображением
      li.instructions-list__item
        a(href="#").instructions-list__link Инструкция по установке ПО iVMS-4500
      li.instructions-list__item
        a(href="#").instructions-list__link Настройка детектора движения
      li.instructions-list__item
        a(href="#").instructions-list__link Аудио вход и выход
      li.instructions-list__item
        a(href="#").instructions-list__link Подключение тревожных выходов камеры
      li.instructions-list__item
        a(href="#").instructions-list__link Подключение тревожных выходов регистратора
      li.instructions-list__item
        a(href="#").instructions-list__link Схема подключения камер
      li.instructions-list__item
        a(href="#").instructions-list__link Схема подключения питания скоростной поворотной камеры
      li.instructions-list__item
        a(href="#").instructions-list__link RTSP ссылки
      li.instructions-list__item
        a(href="#").instructions-list__link Питание камер