section.advantages
  .container
    .advantages__wrap
      .advantages__left
        .advantages-statistic
          .advantages-statistic__item
            b.advantages-statistic__number 30+
            p.advantages-statistic__title наименований <br>камер
          .advantages-statistic__item
            b.advantages-statistic__number 200+
            p.advantages-statistic__title моделей камер
          .advantages-statistic__item
            b.advantages-statistic__number 18
            p.advantages-statistic__title лет на рынке

      .advantages__right
        .advantages__content
          h2.section-title Мы не просто продаем <span>камеры для видеонаблюдения</span> –мы помогаем найти лучшее решение для вас
          p <strong><span>HiLook</span> – новый бренд компании Hikvision.</strong> Hikvision является ведущим в мире поставщиком  продуктов и законченных решений в сфере видеонаблюдения. Благодаря   сильнейшему отделу разработчиков в отрасли, Hikvision использует новейшие производственные возможности для проектирования и разработки инновационных систем и продуктов видеонаблюдения. 

        .row
          .col-md-4.col-lg-6.col-xl-4
            .icon-box
              img(src="static/images/content/winner.svg", width="65", alt="").icon-box__icon
              h3.icon-box__title Бренд N1 в мире
              p По продаже камер
          .col-md-4.col-lg-6.col-xl-4
            .icon-box
              img(src="static/images/content/shield.svg", width="45", alt="").icon-box__icon
              h3.icon-box__title 100% гарантия
              p Гарантия на все оборужование <br>от производителя
          .col-md-4.col-lg-6.col-xl-4
            .icon-box
              img(src="static/images/content/agency.svg", width="50", alt="").icon-box__icon
              h3.icon-box__title В 20 странах
              p Представительство Hikvision

    .text-center
      a(href="#").btn.btn--arrow Узнать больше