section.hero
  .hero-slider.swiper-container
    .swiper-wrapper
      .hero-slider__item.swiper-slide(style="background-image: url(static/images/content/hero.jpg)")
        .container
          .hero__content
            span.ribbon Новинка
            h1 Камеры <span>HiLook</span>
            p Более 30 наименовании камер <br> <strong>от <span>30 000</span> тенге</strong>
            a(href="#").btn.btn--arrow Узнать подробнее
      .hero-slider__item.swiper-slide(style="background-image: url(static/images/content/hero.jpg)")
        .container
          .hero__content
            span.ribbon Новинка
            h1 Камеры <span>HiLook</span>
            p Более 30 наименовании камер <br> <strong>от <span>30 000</span> тенге</strong>
            a(href="#").btn.btn--arrow Узнать подробнее
      .hero-slider__item.swiper-slide(style="background-image: url(static/images/content/hero.jpg)")
        .container
          .hero__content
            span.ribbon Новинка
            h1 Камеры <span>HiLook</span>
            p Более 30 наименовании камер <br> <strong>от <span>30 000</span> тенге</strong>
            a(href="#").btn.btn--arrow Узнать подробнее
      .hero-slider__item.swiper-slide(style="background-image: url(static/images/content/hero.jpg)")
        .container
          .hero__content
            span.ribbon Новинка
            h1 Камеры <span>HiLook</span>
            p Более 30 наименовании камер <br> <strong>от <span>30 000</span> тенге</strong>
            a(href="#").btn.btn--arrow Узнать подробнее
    .swiper-pagination
    .swiper-button-next
    .swiper-button-prev