section(style="background-image: url(static/images/content/hero.jpg)").hero
  .container
    .hero__content
      span.ribbon Новинка
      h1 Камеры <span>HiLook</span>
      p Более 30 наименовании камер <br> <strong>от <span>30 000</span> тенге</strong>
      a(href="#").btn.btn--arrow Узнать подробнее
    img.hero__img(src="static/images/content/camera.png", alt="")