section.our-client
  .container
    h2.section-title Для кого подходят готовые решения Hikvision
    .row
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/trolley.svg", alt="").icon-card__icon
          h3.icon-card__title Розничная торговля
          a(href="#").icon-card__link Подробнее
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/car-insurance.svg", alt="").icon-card__icon
          h3.icon-card__title Транспорт
          a(href="#").icon-card__link Подробнее
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/graph.svg", alt="").icon-card__icon
          h3.icon-card__title Коммерческий сектор
          a(href="#").icon-card__link Подробнее
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/colony.svg", alt="").icon-card__icon
          h3.icon-card__title Жилая недвижимость
          a(href="#").icon-card__link Подробнее
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/connection.svg", alt="").icon-card__icon
          h3.icon-card__title Банковское дело и финансы
          a(href="#").icon-card__link Подробнее
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/knowledge.svg", alt="").icon-card__icon
          h3.icon-card__title Образование
          a(href="#").icon-card__link Подробнее
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/universitet.svg", alt="").icon-card__icon
          h3.icon-card__title Государственный сектор
          a(href="#").icon-card__link Подробнее
      .col-sm-6.col-lg-4.col-xl-3
        .our-client__cta
          h3.our-client__cta-title Не нашли <br>подходящего для себя?
          a(href="#").btn Расчитать  смету