section.question(style="background-image: url(static/images/content/question-bg.png)")
  .container
    .question__content
      h2.section-title Остались вопросы?
      p Оставьте заявку и наш менеджер свяжется с вами и проконсультирует вас по всем вопросам
      a(href="#").btn.question_open оставить заявку на консультацию
    img(src="static/images/content/camera-2.png", alt="").question__img