.container
  .breadcrumbs
    a(href="#") Главная
    a(href="#") Блог комании
    span Новости

main.news
  .container
    h2.page-title Новости
    .row
      include ../../modules/news/news-card
      include ../../modules/news/news-card
      include ../../modules/news/news-card
      include ../../modules/news/news-card
      include ../../modules/news/news-card
      include ../../modules/news/news-card
      include ../../modules/news/news-card
      include ../../modules/news/news-card
      .col-md-12.text-center
        a(href="#").btn.load-more Смотреть больше