.nav-list
  margin: 0
  padding: 0
  list-style: none
  display: flex
  align-items: center
  & > *:not(:last-child)
    margin-right: 35px
  li
    &.is-active
      a
        color: $accent
  a
    color: $main-color
    &:hover, &:focus
      color: $accent

.nav-toggle
  display: none
  position: absolute
  right: 15px
  top: 50%
  width: 28px
  height: 15px
  padding: 0
  margin: -7.5px 0 0
  outline: none
  border: none
  background: none
  z-index: 1
  cursor: pointer
  +transition
  &:focus
    outline: none
  +r(1259)
    display: block
  &__line
    position: relative
    display: block
    height: 2px
    width: 100%
    background: $accent
    +transition
    &::after, &::before
      content: ''
      position: absolute
      left: 0
      display: block
      height: 2px
      width: 100%
      background: $accent
      +transition
    &::before
      top: -6px
    &::after
      top: 6px
  &.active
    .nav-toggle__line
      background: transparent
      &::after
        top: 0
        transform: rotate(45deg)
      &::before
        top: 0
        transform: rotate(-45deg)