.col-md-6.col-xl-4
  .product-card
    .product-card__img-wrap
      a(href="#")
        img(src="static/images/content/product-sm.jpg", alt="")
    .product-card__body
      h3.product-card__title
        a(href="#") HiWatch DS-I114
      p Компактная IP-видеокамера с ИК подсветкой до 10м
      span.product-card__status
        +icon('check', 'product-card__status-icon')
        |  Есть в наличии
    .product-card__bottom
      p.price 22 917
        span.price__currency  тг.
      a(href="#").btn.product-card__btn.product-order_open Заказать