.container
  .breadcrumbs
    a(href="#") Главная
    span О компании

main.about
  .container
    h2.page-title О компании
    .content-wrapper.clearfix
      figure.align-left
        img(src="static/images/content/about.jpg", alt="")
      h3 <span>Hikvision</span> является ведущим в мире поставщиком продуктов и законченных решений в сфере видеонаблюдения.
      p Благодаря сильнейшему отделу разработчиков в отрасли, Hikvision использует новейшие производственные возможности для проектирования и разработки инновационных систем и продуктов видеонаблюдения. Полный портфель продукции компании включает в себя IP камеры, HD и аналоговые камеры, скоростные поворотные камеры, аналоговые и сетевые видеорегистраторы, программное обеспечение для управления видео, системы контроля доступа и сигнализации, датчики, декодеры и другие элементы сложных систем безопасности.
      p Продукция Hikvision имеет множество решений для разных вертикальных рынков, таких как розничная торговля, банковское дело и финансы, транспорт, образование, коммерческий сектор, государственный сектор и жилая недвижимость.
      p С момента своего создания в 2001 году, Hikvision играет активную роль на рынке видеонаблюдения, вкладывая до 8% своего годового дохода в исследования и разработки инновационной продукции. Hikvision, чьи акции публично торгуются на Шэньчжэньской фондовой бирже, имеет поистине глобальное присутствие с региональными отделениями в почти 20-ти странах по всему миру.