.container
  .breadcrumbs
    a(href="#") Главная
    span Где купить?

main.partners
  .container
    h2.page-title Наши партнеры

    .partners__map
      #partners-map
      .point
        .point__icon-wrap
          +icon('pin', 'point__icon')
        span