extends template/main

block variables
  - var title = 'Главная'
  - var pageClass = ''

block content
  include pages/home/hero
  include pages/home/advantages
  include pages/home/our-client
  include pages/home/catalog