.container
  .breadcrumbs
    a(href="#") Главная
    a(href="#") Области
    span Актюбинская область

main.areas
  .container
    h2.page-title Актюбинская область
    .row
      

      .col-lg-8.col-xl-9.order-lg-1
        .partners-list
          .partners-list__item
            img(src="static/images/content/aiko.jpg", alt="Айко").partners-list__logo
            .partners-list__content
              h3.partners-list__title ТОО АйКо

              ul.partners-list__contact
                li.partners-list__contact-item
                  b.partners-list__label Адрес:
                  |  г.Актобе мкр. Батыс-2, 14Б/1
                li.partners-list__contact-item
                  b.partners-list__label Телефоны:
                  a(href="tel:+77132415279")  +7 (7132) 41-52-79
                li.partners-list__contact-item
                  b.partners-list__label E-mail:
                  a(href="mailto:info@aiko.kz")  info@aiko.kz
                li.partners-list__contact-item
                  b.partners-list__label Сайт:
                  a(href="http://www.aiko.kz", target="_blank")  www.aiko.kz
          .partners-list__item
            img(src="static/images/content/televideobyuro.jpg", alt="ТелеВидеоБюро").partners-list__logo
            .partners-list__content
              h3.partners-list__title Сеть специализированных салон-магазинов ТелеВидеоБюро (ИП Зинченко С.) Абилкайыр хана

              ul.partners-list__contact
                li.partners-list__contact-item
                  b.partners-list__label Адрес:
                  |  г. Актобе, пр. Абилкайыр хана, 64/1
                li.partners-list__contact-item
                  b.partners-list__label Телефоны:
                  a(href="tel:+77132522422")  +7 (7132) 52-24-22,
                  a(href="tel:+77132569817")  +7 (7132) 56-98-17,
                  a(href="tel:+77076093325")  +7 (707) 609-33-25
                li.partners-list__contact-item
                  b.partners-list__label E-mail:
                  a(href="mailto:tvburoinfo@gmail.com")  tvburoinfo@gmail.com
                li.partners-list__contact-item
                  b.partners-list__label Сайт:
                  a(href="http://tvburo.kz", target="_blank")  tvburo.kz
          .partners-list__item
            img(src="static/images/content/televideobyuro.jpg", alt="ТелеВидеоБюро").partners-list__logo
            .partners-list__content
              h3.partners-list__title Сеть специализированных салон-магазинов ТелеВидеоБюро (ИП Зинченко С.) Шебер

              ul.partners-list__contact
                li.partners-list__contact-item
                  b.partners-list__label Адрес:
                  |  СГ "Шебер" пр. Санкибай батыра, 14/5
                li.partners-list__contact-item
                  b.partners-list__label Телефоны:
                  a(href="tel:+77054956611")  +7 (705) 495 66-11
                li.partners-list__contact-item
                  b.partners-list__label E-mail:
                  a(href="mailto:tvburoinfo@gmail.com")  tvburoinfo@gmail.com
                li.partners-list__contact-item
                  b.partners-list__label Сайт:
                  a(href="http://tvburo.kz", target="_blank")  tvburo.kz
          .partners-list__item
            img(src="static/images/content/televideobyuro.jpg", alt="ТелеВидеоБюро").partners-list__logo
            .partners-list__content
              h3.partners-list__title Сеть специализированных салон-магазинов ТелеВидеоБюро (ИП Зинченко С.) Мерей

              ul.partners-list__contact
                li.partners-list__contact-item
                  b.partners-list__label Адрес:
                  |  г.Актобе ул. Кунаева, 167А ТД "Мерей", новая секция, 0 этаж, бутик 21 А
                li.partners-list__contact-item
                  b.partners-list__label Телефоны:
                  a(href="tel:+77132244512")  +7 (7132) 24-45-12
                  a(href="tel:+77078855488")  +7 (707) 885 54-88
                li.partners-list__contact-item
                  b.partners-list__label E-mail:
                  a(href="mailto:tvburoinfo@gmail.com")  tvburoinfo@gmail.com
                li.partners-list__contact-item
                  b.partners-list__label Сайт:
                  a(href="http://tvburo.kz", target="_blank")  tvburo.kz

      .col-lg-4.col-xl-3
        aside
          .widget
            h4.widget__title Области
            ul
              li
                a(href="areas.html") Акмолинская область
              li.is-active
                a(href="areas.html") Актюбинская область
              li
                a(href="areas.html") Алматинская область
              li
                a(href="areas.html") Атырауская область
              li
                a(href="areas.html") Восточно-Казахстанская область
              li
                a(href="areas.html") Жамбылская область
              li
                a(href="areas.html") Западно-Казахстанская область
              li
                a(href="areas.html") Карагандинская область
              li
                a(href="areas.html") Костанайская область
              li
                a(href="areas.html") Кызылординская область
              li
                a(href="areas.html") Мангистауская область
              li
                a(href="areas.html") Павлодарская область
              li
                a(href="areas.html") Северо-Казахстанская область
              li
                a(href="areas.html") Южно-Казахстанская область