.container
  .breadcrumbs
    a(href="#") Главная
    a(href="#") Блог комании
    a(href="#") Нововсти
    span В Астане завершилась международная выставка KADEX-2018

main.article
  .container
    h2.page-title В Астане завершилась международная выставка KADEX-2018
    .content-wrapper
      p В Астане завершилась международная выставка KADEX-2018.
      p Выставка KADEX-2018 запомнилась не только благодаря представленным экспонатом, но и впечатляющими демонстрациями военной, специальной и авиационной техники. 25 и 26 мая двери выставки открылись для всех посетителей. Для жителей и гостей столицы выступал военный оркестр и проводились показательные выступления техники и вооружения Сухопутных войск, авиационной техники Сил воздушной обороны ВС РК, пилотажных групп, демонстрационные показы военной, авиационной и специальной техники компаний-экспонентов.
      p Компания Hikvision Казахстан представила новейшие раработки сферы защиты и видеонаблюдения следующих категорий:
      ul
        li тепловизионное оборудование;
        li портативные видеорегистраторы;
        li транспортные решения;
        li решения для работы в агрессивной среде (антикоррозийные, взрывозащитные и подводные);
        li технология распознавания лиц;
        li системы контроля доступа;
        li дроны и антидроны;
        li поворотные платформы.
      p Стенд компании Hikvision посетили такие организации, как Национальный Университет Обороны, Пограничная Служба РК, Havelsan, Korgau, LG, КазАвтоЖол, Altyn Orda, Посольство Украины в РК, Euro-Asia Air, Astra и многие другие.
      figure
        img(src="static/images/content/news.jpg", alt="")