.col-md-6.col-lg-4.col-xl-3
  .news-card
    .news-card__img-wrap
      img(src="static/images/content/news-sm.jpg", alt="")
    .news-card__body
      h3.news-card__title
        a(href="#") В Астане завершилась международная выставка KADEX-2018
      p Выставка KADEX-2018 запомнилась не только..
    .news-card__bottom
      a(href="#").btn.news-card__link Подробнее