.container
  .breadcrumbs
    a(href="#") Главная
    span Скачать

main.download
  .container
    h2.page-title Скачать

    .row.justify-content-center
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/support.svg", alt="").icon-card__icon
          h3.icon-card__title Клиентское ПО
          a(href="#").icon-card__link Подробнее
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/customer-support.svg", alt="").icon-card__icon
          h3.icon-card__title Инструменты
          a(href="#").icon-card__link Подробнее
      .col-sm-6.col-lg-4.col-xl-3
        .icon-card
          img(src="static/images/content/web.svg", alt="").icon-card__icon
          h3.icon-card__title Прошивки
          a(href="#").icon-card__link Подробнее